{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
<center>
<h1>Upgrade now for many perks!</h1>
<p>So, you like my thing?</p>
<p>Get even more features, support the developer, and help keep MY THING online by purchasing a premium plan.</p>
<p>Choose a plan that sounds right for you!</p>
<h2>The Simple Plan - $2 a month, $5 for three months</h2>
Get one static address, unlimited time online, and tech support. All for $2 a month.
<h2>The Premium Plan - $6 a month, $15 for three months</h2>
Get 5 static addresses, cutting edge clients, and priority support for $5 a month.
</center>
</div></div>
{% endblock %}
